@font-face {
  font-family: "Playfair-regular";
  src: url("/static/Font/PlayFair/PlayfairDisplay-Regular.ttf");
}
@font-face {
  font-family: "Raleway-semiBold";
  src: url("/static/Font/Raleway/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: "Raleway-regular";
  src: url("/static/Font/Raleway/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Raleway-medium";
  src: url("/static/Font/Raleway/Raleway-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  cursor: none;

  --main-bg-color: #000000;
  --main-color: #aaaaaa;
  --title-color: #white;
  --nav-color: #63676d;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  background-color: #000000;
}

.all_wrapper {
  margin: auto;
  width: 100vw;
  height: 100vh;

}

.gradient_top {
  position: fixed;
  display: none;
  top: 0px;
  width: 100%;
  height: 20vh;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7819328414959734) 50%, rgba(0,0,0,0) 100%);
}

.gradient_bottom {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 20vh;
  background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7819328414959734) 50%, rgba(0,0,0,0) 100%);

}
.header {
  background-color: #000000;
  font-family: "Playfair-regular";
  color: var(--main-color);
  height: 200vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.gob {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 6vh 6vh 0vh 6vh;
}

.header_content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}

#svg-1 {
  /* width: 50%;
  height: 30%; */
  padding: 3vw;
}
.header_content h1 {
  font-size: 10vh;
}

.header_content h2 {
  font-size: 5vh;
}

.title_header {
  height: 100vh;
}
.presentation_wrapper {
  height: 100vh;
  width: 90vw;
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
}

.presentation_wrapper_title {
  font-family: "Playfair-regular";
  height: 10%;
  font-size: 22px;
}

.presentation {
  height: 75vh;
  width: 100%;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.presentation_name {
  font-family: "Playfair-regular";
  font-size: 1.5em;
  line-height: 2.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3vh;
  margin-bottom: 1vh;
}

.square {
  display: inline-block;
  border-radius: 5px;
  width: 2vw;
  height: 2vw;
  margin-top: 0.5vw;
  margin-left: 2vw;
  background-color: white;
}

.white {
  background-color: white;
}
.black {
  background-color: #808080;
}

.caracteristiques-dev,
.caracteristiques-design {
  max-width: 15%;
  font-family: "Raleway-semiBold";
  font-size: 1em;
  line-height: 1.5em;
  letter-spacing: 0.15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caracteristiques-dev .line,
.caracteristiques-design .line {
  height: 5vh;
  width: 1px;
  margin: 1rem;
  background-color: var(--main-color);
}

.caracter-dev,
.caracter-design {
  display: flex;
  flex-direction: column;
  max-width: 35%;
  height: 100%;
}

/* WEBGL */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#webgl {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.grid {
  display: inline-block;
  width: 25vw;
  height: 25vw;
  margin-top: 20vh;
  background-image: url("/static/grille.png");
  background-size: contain;
}

.black-model,
.white-model {
  display: inline-block;
  height: 75%;
  width: 23vw;
  background-color: #151515;
  border: 1px solid #797979;
  border-radius: 5px;
}

#header_model-left, #header_model-right {
  height: 100%;
  width: 50vw;
  /* background-color: white; */
}

#header_model-left {
  position: absolute;
  top: 0;
  left: -15%;
}

#header_model-right {
  position: absolute;
  top: 0;
  right: -15%;
}
/* content */
.wrapper_content {
  width: 100%;
  height: 480vh;
  display: flex;
  background-color: var(--main-bg-color);
}

.wrapper_page {
  height: 100%;
  width: 50%;
  padding: 3rem;
}

.wrapper_canvas {
  width: 25%;
  height: 100vh;
  top: 10px;
  position: sticky;
}

.page {
  height: 80vh;
  display: flex;
  flex-direction: column;
  color: var(--main-color);
}

.page_content {
  width: 100%;
  max-height: 50%;
}

.page h2 {
  font-family: "Playfair-regular";
  font-size: 2.3vw;
  padding-bottom: 2rem;
}

.page h3 {
  font-family: "Raleway-semiBold";
  font-size: 0.93vw;
  line-height: 1.5em;
  padding-bottom: 1.5rem;
  letter-spacing: 0.15px;
}

.page p {
  font-family: "Raleway-regular";
  font-size: 0.93vw;
  line-height: 1.5em;
  letter-spacing: 0.5px;
}

.stats {
  height: 50%;
  display: flex;
  flex-direction: row;
}

.stats span {
  font-family: "Raleway-regular";
  font-size: 0.93vw;
  line-height: 1.5em;
  letter-spacing: 0.5px;
  margin-top: 5vh;
}

.stats_text {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  max-width: 50%;
  width: 50%;
}

.stats svg {
  max-width: 50%;
  width: 50%;
}
/* navbar */

.wrapper_nav {
  display: flex;
  justify-content: center;
  height: 50vh;
  width: 10%;
  position: sticky;
  margin-top: 25vh;
  top: 25vh;
}

.ages {
  color: var(--main-color);
  font-family: "Raleway-regular";
  font-size: 0.8em;
  line-height: 1.2em;
  letter-spacing: 0.25px;
  position: absolute;
  left: 2vw;
  top: 40%;
  transform: rotate(-90deg);
}
.nav {
  height: 90%;
  width: 2px;
  background-color: var(--nav-color);
  border-radius: 10px;
}

.nav_active {
  width: 2px;
  background-color: white;
  border-radius: 10px;
  transition: 0.5s;
}

.wrapper_nav .ball {
  position: absolute;
  width: 0.6vw;
  height: 0.6vw;
  background-color: var(--nav-color);
  border-radius: 50%;
  z-index: 1;
  transition: 1s;
}

.wrapper_text span, .wrapper_text a {
  z-index: 3;
  font-family: "Raleway-regular";
  font-size: 0.8em;
  line-height: 1.2em;
  letter-spacing: 0.25px;
  color: var(--nav-color);
  position: absolute;
  transition: 1s;
  margin-left: 1rem;
  margin-top: -0.2rem;
}

/* KILLFEED */
.wrapper_killFeed {
  width: 15%;
  height: 10%;
  position: sticky;
  right: 0;
  top: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper_kills {
  width: 80%;
}

.kill {
  width: 100%;
  height: 4vh;
  line-height: 4vh;
  border-radius: 5px;
  margin-top: 1rem;
  font-family: "Raleway-regular";
  font-size: 1em;
  background-color: var(--main-color);
}

.pseudo_1, .pseudo_2, .pseudo_3, .pseudo_4, .pseudo_5, .pseudo_6{
  display: inline-block;
  margin-left: 0.5em;
  width: 60%;
  overflow: hidden;
}

.age_1, .age_2, .age_3, .age_4, .age_5, .age_6 {
  float: right;
  margin-right: 0.5em;
}
.kill_1 {
  background-color: #aaaaaa;
  opacity: 0.33;
  transition: 0.5s;
}
.kill_2 {
  background-color: #aaaaaa;
  opacity: 0.66;
  transition: 0.5s;
}
.kill_3 {
  background-color: #aaaaaa;
  transition: 0.5s;
}
.kill_4 {
  background-color: #aaaaaa;
  transition: 0.5s;
}
.kill_5 {
  background-color: #aaaaaa;
  transition: 0.5s;
}
.kill_6 {
  background-color: #aaaaaa;
  transition: 0.5s;
}

/* CURSEUR */
.cursor {
  width: 3rem;
  height: 3rem;
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(64, 195, 213, 0.81) 0%,
    rgba(64, 195, 213, 0) 100%
  );
  transform: translate(-50%, -50%);
}
